@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.4em;
        padding:0;
    }

    .nav-link {
        padding: 10px;
    }
}

 
body {
    margin: auto 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
.zone {
        /* padding:30px 50px;
        margin:40px 60px; */
        /* display:inline-block; */
        color:#FFF;
        font-size:1.5em;
        border-radius:4px;
        border:1px solid #bbb;
        transition: all 0.3s linear;
}

.container {
    width: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.page-contents {
    min-height: 100vh;
}

/*********************************
* HEADER - MAIN NAV & TOGGLE NAV BAR
***********************************/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.main-nav {
    
    display: flex;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    align-items: center;
}

.main-nav>li {
    padding: 20px
}

.push-left>li {
    padding: 20px;
}

.navbar-2 {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 0px;
}
 
 .nav-link {
     width: 150px;
     text-align: center;
 }
.push-left {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.orderSummary-table tfoot td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.orderSummary-table tfoot .push-left {
    text-align: end;
    padding-right: 15px;
}

.push-right {
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
 
.push-center {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.nav-item {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.card-header {
    padding: 0;
    border: none;
    
}


#hover {
    -webkit-transition: color 2s;
    transition: color 2s;
}
/* astronomy */
#hover-purple:hover{
    color: purple;
}
/* Biology */
#hover-green:hover{
    color: green;
}
/* Chemistry */
#hover-yellow:hover{
    color: rgb(245, 208, 0);
}
/* Math */
#hover-blue:hover{
    color: rgb(0, 132, 255);
}
/* Physics */
#hover-orange:hover{
    color: orange;
}
/* Technology */
.nav-item a #hover-red:hover{
    color: rgb(210, 1, 81);
}

/***********************************************************************
 *  Shopping Cart Button
 **********************************************************************/
.fa {
    color:white;
    padding: 5px;
}
 
.fa-lightbulb {
    padding-right: 10px;
}
 
.shopping-cart-btn {
    background-color: transparent;
    border:2px solid white;
    border-radius: 50px;
    padding: 5px;
}

 /*********************************
Cover
***********************************/

.cover {
    display: flex;
    margin-top: 30px;
    height: 10vh;
}

 /*********************************
Product Display
***********************************/
#main {
    padding: 16px;
  }

.section {
    width: 100%;
    min-height: 100%;
}  

#catalogue {
    margin-top: 30px;
}

.img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    position: relative;
}

.add-to-cart {
    /* position: absolute;
    width: 100%; */
    background:#49c0bf;
    color: white;
    cursor: pointer;
    text-align: center;
    bottom: 50px;
    padding: 10px;
    text-decoration: none;
  }

  #card-container {
      padding-top: 30px;
  }




 /*********************************************
 ** SIDE-NAV SHOPPING CART 
************************************************/
 .sidenav {
    height: 100%;
    width: 750px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 50px 50px 30px rgb(0 0 0 / 50%);
    overflow-x: hidden; 
    transition: 0.5s;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    /* margin top bring the shopping cart below the header, but it hides the checkout button
    if the checkout contents get too long */
    /* margin-top: 85px; */
    display: none; 
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .closebtn {
    position: absolute;
    /* top: 50px; */
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
  }

  .nav-link {
      border-radius: 5px;
  }

  .shoppingcart>h2 {
      padding-left: 20px;
  }

  .card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  
    .card-price, .card-title, .card-rating, .add-to-cart {
      text-align: center;
    }
  
    #shopping-cart-wrapper {
        padding: 20px;
    }

    #shoppingcart{
        margin-top: 30px;
    }
  
    table {
        width: 100%;
    }
   
    .item-info td {
      flex-wrap: wrap;
      word-wrap: break-word;
      padding-left: 15px;
      padding-right: 15px;
    padding: 15px;
    text-align: center;

    }

    .quantity-control {
        display: block;
    }

    table>thead>tr>th, table>thead>tr>td {
      vertical-align: bottom;
  }
  
    table th {
        text-align: left;
    }
    
    .cart-table {
      border-bottom: 1px solid #b8bebb;
      padding-top: 24px;
      text-align: left;
      width: 100%;
  }
  
  tr {
    border-bottom: 1px solid #b8bebb;
  }
  
  .cart.table-wrapper {
    padding: 20px;
    
  }
  .cart.table-wrapper .cart>tbody>tr>td {
      vertical-align: middle;
  }
  
  .shoppingCart-footer {
    padding: 10px;
  }
  
  .checkout-btn, .confirmOrder-btn, .validatePayment-btn, .validateBilling-btn, .validateShipping-btn {
    background: -webkit-linear-gradient(left, rgb(31, 218, 212), rgb(92, 238, 184));
  }

  .checkout-btn{
      width: 100%;
      margin-top: 20px;
      font-size: 20px;
      box-shadow: 5px 10px 10px #b1ccc8;
  }
  
  .keep-shopping{
      background-color: #47d1b8;
      color: white;
      padding:15px;
      font-size: 20px;
  }

  .keep-shopping2{
   /* padding: 20px; */
    font-size: 15px;
    color: #4f4de9;
  }

  .keep-shopping2 i{
      padding-right: 8px;;
  }

  .alt-option td{
    padding: 10px;
  }
  .col {
    width: auto;
  }

  th.col.qty {
      text-align: center;
  }

  .cart.table-wrapper h5 {
      padding: 20px;
      border-bottom: 2px solid darkgrey;
      border-top: 2px solid darkgrey;
  }
  .cart.total-wrapper{
      margin-top: 20px;
      padding: 20px;
      width: 30%;
      margin-left: auto;
  }

  .page-contents #shoppingcart .grid-container {
      display: grid;
      row-gap: 20px;;
      
  }

  .btn-update{
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
      border: none;
      background: transparent;
  }

  tbody tr td .row {
      justify-content: center;
      align-items: center;
  }

  .cart-title{
      padding-bottom: 15px;
  }
  .cart-total td{
    padding:10px;
  }

  .bi-dash-circle:hover, .bi-x-circle:hover{
      color:#f25e83;
  }

  .bi-plus-circle-fill:hover{
      color:#48d4b8;
  }



  /*********************************************
 ** CHECKOUT modals
************************************************/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .required:after {
    content:" *";
    color: red;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal-header {
    flex-direction: row-reverse;
    border-bottom: none;
    padding: 0px;
  }
  
  a.closebtn {
    float: right;
    color: #f25e83;
    font-size: 20px;
  }


  
  input[type=text], select{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type=number] {
    width: 75px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 12px;
  }
  
  td div {
    display: inline-block;
  }
  
  .col-50 {
    padding:0;
    flex:50%;
  }
  
  .subtext {
    color: grey;
    font-size: 10px;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  .modal-body .row label {
      margin: 0;
  }

  .modal-body .row .check-address {
    color: #3b39f7;
    
  }

  .checkout-btn:hover, .validateBilling-btn:hover, .validateShipping-btn:hover, .confirmOrder-btn:hover {
      color: white;
  }

  .backToShipping-btn i, .backToBilling-btn i {
      color: #3b39f7;
  }

  .backToShipping-btn, .backToBilling-btn {
    color: grey;
    background-color: transparent;
}

  .backToShipping-btn:hover, .backToBilling-btn:hover {
      color:  #3b39f7;
  }

  .check-address {
    cursor: pointer;
  }
  
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.order-summary {
    border: 1px solid grey;
}

/* ORDER CONFIRMATION */

#order-confirmed{
    font-size: 100px;
    color: #47d6b6;
}

.orderInfo-table td{
    padding: 10px;
}

.orderInfo-table tr{
    border: 1px solid grey;
}

.order-total {
    border-bottom: 0px;
}
  
 /*********************************************
 ** LOGIN / REGISTER FORM
************************************************/
.body2 {
    width:100%;
    display: grid;
    justify-content: center;
}
.wrapper {
    overflow: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 390px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}

.wrapper .title-text {
    display:flex;
    width: 200%;
}

.wrapper .title-text .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55, 0.265, 1);
}

.wrapper .form-container{
    width: 100%;
    overflow: hidden;
}

.form-container .slide-controls{
    position:relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    cursor:pointer;
    transition: all 0.6s ease;
}

.slide-controls .register {
    color: #000;
}

.slide-controls .slide-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index:0;
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.68,-0.55, 0.265, 1);
    
    /* background: -webkit-linear-gradient(left, rgb(31, 218, 212), rgb(92, 238, 184));  */
     background: -webkit-linear-gradient(left, #566bc4, rgb(71 222 180)); 
    /* background: #566bc4; */
    /* background: -webkit-linear-gradient(left, #5372F0, #8484f0); */
}

input[type="radio"]{
    display: none;
}

#register:checked ~ .slide-tab{
    left: 50%;
}

#register:checked ~ .register{
    color: #fff;
}

#register:checked ~ .login{
    color: #000;
}

.form-container .form-inner{
display: flex;
width: 200%;
}

.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55, 0.265, 1);
}

.form-container .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}

.form-inner form .field input:focus{
    border-color:#4f3dee;
}

.form-inner form .pass-link{
    margin-top: 5px;
}

.form-inner form .pass-link a,
.form-inner form .register-link a,
.form-inner form .login-link a{
    /* color:rgb(19, 189, 167); */
    
    color: #f25e83;
    text-decoration: none;
}

.form-inner form .register-link,
.form-inner form .login-link {
    text-align: center;
    margin-top: 30px;
}

.form-inner form .pass-link a:hover,
.form-inner form .register-link a:hover{
    text-decoration: underline;
}

.form-inner form .field input[type="submit"]{
    color: #fff;
    font-size: 20px;
    background: -webkit-linear-gradient(left, #566bc4, rgb(71 222 180)); 
    /* background: -webkit-linear-gradient(left, rgb(31, 218, 212), rgb(92, 238, 184)); */
    /* background: -webkit-linear-gradient(left, #5372F0, #8484f0); */
    font-weight: 600;
    padding-left:0;
    border: none;
    cursor: pointer;
}

.privacy-terms-checkbox input[type="checkbox"] {
    margin-right: 5px;
}

.privacy-terms-checkbox a {
    color: rgb(72 207 186);
}

/***********************************************************************
 *  ADMIN's ACCOUNT - BASE
 **********************************************************************/

.content-privacyTerms, .content-productForm{
    display: none;
}

.account-sidenav ul li .orders-btn{
    color: #4f43ec;
} 

 .menu .grid-container{
    display:grid;
    grid-template-columns: 20% 65%;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    margin-top: 30px;
    justify-items: strecth;
    
    padding: 20px;
}

.grid-container > div{
    background-color: #eee;
    padding: 20px;
    
} 

.c-account-line-title{
    padding-bottom: 10px;
    border-bottom:1px solid #404041;
}

.t-header-block{
    background-color: #566bc4;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5em;
    color: #fff;
    line-height: 1.4em;
    text-align: center;
  }

  .account-sidenav ul{
    background-color: white;
    padding: 0;
  }


.account-sidenav ul li{
    border-bottom: 1px solid rgba(238,238,238,1);
    list-style: none;
    padding: 1em;
}


.account-sidenav ul li a {
    color: black;
}


.t-white-block {
    background-color: #fff;
    height: fit-content;
}

form .t-white-block {
    padding: 1rem;
    background-color: #fff;
}

.t-field-container{
    margin-bottom: 1em;
} 

.form-inner form .field input:focus{
    border-color:#4f3dee;
}

input[type="file"]{
    border: 1px solid grey;
    padding: 10px;
    width: 100%;
}

input[type="select"]{
padding: 10px;
} 

/***********************************************************************
 *  FOOTER
 **********************************************************************/

 #footer {
     margin-top: 50px;
     padding-top:20px;

 }

/***********************************************************************
 *  Black Background
 **********************************************************************/
 .black {
    background-color: rgba(0,0,0,.5);
}


/***********************************************************************
 *  Teal Background
 **********************************************************************/
 .teal{
    background: -webkit-linear-gradient(left, rgb(31, 218, 212), rgb(92, 238, 184));
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
 .blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
 
/***********************************************************************
 *  Green Background
 **********************************************************************/
 .green{
    background: #cdeb8e; /* Old browsers */
    background: -moz-linear-gradient(top, #cdeb8e 0%, #7ab200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cdeb8e 0%,#7ab200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cdeb8e 0%,#7ab200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cdeb8e 0%,#7ab200 100%); /* IE10+ */
    background: linear-gradient(top, #cdeb8e 0%,#7ab200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
 .orange{
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top, #ec7466 0%, #cf6604 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e98b80 0%,#cf7404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f28e83 0%,#cf6d04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f09d94 0%,#cf6d04 100%); /* IE10+ */
    background: linear-gradient(top, #e6948b 0%,#cf7004 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.red {
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}
 
/***********************************************************************
 *  Yellow Background
 **********************************************************************/
 .yellow{
    background: #ffd65e; /* Old browsers */
    background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #ffd65e 0%,#febf04 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
}

/***********************************************************************
 *  Purple Background
 **********************************************************************/
 .purple{
    background: rgb(144, 96, 203); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(144, 96, 203,1) 0%, rgba(147, 101, 240,1) 50%, rgba(222,71,172,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(203,96,179,1)), color-stop(50%,rgba(173,18,131,1)), color-stop(100%,rgba(222,71,172,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(144, 96, 203,1)  0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(144, 96, 203,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(144, 96, 203,1)  0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(144, 96, 203,1)  0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=1 ); /* IE6-9 */
}

.brandpurple{
    background: #566bc4; /* Old browsers */
    background: -moz-linear-gradient(left, #566bc4 0%, rgba(#4f3dee) 50%, rgb(71 222 180) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#566bc4)), color-stop(0%,#4f3dee), color-stop(100%,rgb(71 222 180)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #566bc4 0%,#4f3dee 0,rgb(71 222 180) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradien(left, #566bc4 0%,#4f3dee 0,rgb(71 222 180) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #566bc4 0%,#4f3dee 0,rgb(71 222 180) 100%); /* IE10+ */
    background: linear-gradient(left, #566bc4 0%,#4f3dee 0,rgb(71 222 180) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=1 ); /* IE6-9 */
}

/***********************************************************************
 *  Grey Background
 **********************************************************************/
 .grey{
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */
}


